name: .NET API → Minikube (Docker)

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0'

    - name: Restore & Build
      run: |
        dotnet restore
        dotnet publish -c Release

    # - name: Setup Minikube
    #   uses: medyagh/setup-minikube@latest
    #   with:
    #     driver: docker
    # - name: Restart Minikube
    #   shell: cmd
    #   run: |
    #     minikube stop
    #     minikube delete
    #     minikube start --driver=docker
    # - name: Full Minikube reset (Windows fix)
    #   shell: cmd
    #   run: |
    #     minikube stop
    #     minikube delete --all --purge
    #     rmdir /s /q %USERPROFILE%\.minikube 2>NUL
    #     minikube start --driver=docker

    # - name: Check Minikube status
    #   shell: cmd
    #   run: minikube status

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-docker-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-docker-
    - name: Pre-pull .NET images
      run: |
        docker pull mcr.microsoft.com/dotnet/sdk:10.0
        docker pull mcr.microsoft.com/dotnet/aspnet:10.0

    - name: Build Docker image in Minikube
      shell: cmd
      run: |
        docker build --cache-from type=local,src=/tmp/.buildx-cache --tag media-api:latest .
        minikube image load media-api:latest

    - name: Fix kubectl context
      shell: cmd
      run: |
        minikube update-context
        kubectl config get-contexts
    
    - name: Set kubectl context
      shell: cmd
      run: |
       kubectl config use-context minikube

    - name: Set KUBECONFIG
      shell: cmd
      run: |
         set KUBECONFIG=%USERPROFILE%\.kube\config
         kubectl cluster-info


        
    - name: Create 'dev' Kubernetes Namespace
      run: kubectl create namespace dev --dry-run=client -o yaml | kubectl apply -f -

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f ${{ github.workspace }}/k8s/
        kubectl port-forward pod/media-api-54858d9c4b-fczm8 8080:8080 -n dev

    - name: Verify Pods
      run: kubectl get pods
