name: .NET API → Minikube (Docker)

on:
  # push:
  #   branches: [ "main" ]
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        required: true
        default: "main"

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:
    # - name: Checkout
    #   uses: actions/checkout@v4
    - name: Checkout selected branch
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.inputs.branch }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0'

    - name: Restore & Build
      run: |
        dotnet restore
        dotnet publish -c Release

    # - name: Setup Minikube
    #   uses: medyagh/setup-minikube@latest
    #   with:
    #     driver: docker
    # - name: Restart Minikube
    #   shell: cmd
    #   run: |
    #     minikube stop
    #     minikube delete
    #     minikube start --driver=docker
    # - name: Full Minikube reset (Windows fix)
    #   shell: cmd
    #   run: |
    #     minikube stop
    #     minikube delete --all --purge
    #     rmdir /s /q %USERPROFILE%\.minikube 2>NUL
    #     minikube start --driver=docker

    # - name: Check Minikube status
    #   shell: cmd
    #   run: minikube status

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-docker-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-docker-
    - name: Pre-pull .NET images
      run: |
        docker pull mcr.microsoft.com/dotnet/sdk:10.0
        docker pull mcr.microsoft.com/dotnet/aspnet:10.0

    - name: Login to Docker Hub
      run: |
        echo %DOCKERHUB_TOKEN% | docker login -u %DOCKERHUB_USERNAME% --password-stdin
      shell: cmd
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      #  BUILD_VERSION: 1.0.${{ github.run_number }}

    # - name: Build Docker image
    #   run: |
    #     docker build -t %DOCKERHUB_USERNAME%/media-api:latest .
    #   shell: cmd
    #   env:
    #     DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}


    - name: Build Docker image
      shell: cmd
      run: |
        docker build --cache-from type=local,src=/tmp/.buildx-cache --tag %DOCKERHUB_USERNAME%/media-api:1.0.%GITHUB_RUN_NUMBER% .
       # minikube image load media-api:latest
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

    - name: Push Docker image
      run: |
        docker push %DOCKERHUB_USERNAME%/media-api:1.0.%GITHUB_RUN_NUMBER%
      shell: cmd
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

    - name: Fix kubectl context
      shell: cmd
      run: |
        minikube update-context
        kubectl config get-contexts
    
    - name: Set kubectl context
      shell: cmd
      run: |
       kubectl config use-context minikube

    - name: Set KUBECONFIG
      shell: cmd
      run: |
         set KUBECONFIG=%USERPROFILE%\.kube\config
         kubectl cluster-info

    - name: Create 'dev' Kubernetes Namespace
      run: kubectl create namespace dev --dry-run=client -o yaml | kubectl apply -f -     
    
    # - name: Replace image tag in deployment
    #   shell: cmd
    #   run: |
    #     powershell -Command "(Get-Content ${{ github.workspace }}/k8s/APIDeployment.yaml) -replace '__TAG__', %GITHUB_RUN_NUMBER% | Set-Content ${{ github.workspace }}/k8s/APIDeployment.yaml"

    - name: Replace image tag in deployment
      shell: powershell
      run: |
        (Get-Content ${{ github.workspace }}/k8s/APIDeployment.yaml) `
          -replace '__TAG__', "$env:GITHUB_RUN_NUMBER" |
          Set-Content ${{ github.workspace }}/k8s/APIDeployment.yaml

    - name: Replace image tag and build version
      shell: powershell
      run: |
        (Get-Content ${{ github.workspace }}/k8s/APIDeployment.yaml) `
          -replace '__BUILD_VERSION__', "$env:GITHUB_RUN_NUMBER" |
          Set-Content ${{ github.workspace }}/k8s/APIDeployment.yaml

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f ${{ github.workspace }}/k8s/
        
    - name: Verify Pods
      run: kubectl get pods
