name: .NET API → Minikube (Docker)

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0'

    - name: Restore & Build
      run: |
        dotnet restore
        dotnet publish -c Release

    # - name: Setup Minikube
    #   uses: medyagh/setup-minikube@latest
    #   with:
    #     driver: docker
    # - name: Restart Minikube
    #   shell: cmd
    #   run: |
    #     minikube stop
    #     minikube delete
    #     minikube start --driver=docker
    # - name: Full Minikube reset (Windows fix)
    #   shell: cmd
    #   run: |
    #     minikube stop
    #     minikube delete --all --purge
    #     rmdir /s /q %USERPROFILE%\.minikube 2>NUL
    #     minikube start --driver=docker

    - name: Check Minikube status
      shell: cmd
      run: minikube status

    - name: Build Docker image in Minikube
      shell: cmd
      run: |
            FOR /f "tokens=*" %%i IN ('minikube docker-env --shell cmd ^| findstr /v false') DO %%i
            docker build -t media-api:latest .

    - name: Fix kubectl context
      shell: cmd
      run: |
        minikube update-context
        kubectl config get-contexts
    
    - name: Set kubectl context
      shell: cmd
      run: |
       kubectl config use-context minikube

    - name: Set KUBECONFIG
      shell: cmd
      run: |
         set KUBECONFIG=%USERPROFILE%\.kube\config
         kubectl cluster-info


        
    - name: Create 'dev' Kubernetes Namespace
      run: kubectl create namespace dev --dry-run=client -o yaml | kubectl apply -f -

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f ${{ github.workspace }}/k8s/

    - name: Verify Pods
      run: kubectl get pods
