name: Deploy to Local Minikube

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        minikube docker-env --shell powershell | Invoke-Expression
        docker build -t dotnet-api:latest .

    - name: Deploy to Minikube
      run: |
        kubectl apply -f ${{ github.workspace }}/k8s/